
.playtitle{
	text-align: center;
	background-image: url(mainback.jpg);
	color:white;
	font-family:big;
	font-size:40px;
	padding:8px;
}
*{
	text-align: center;
	border : 3px;
}

@font-face{
	font-family:big;
	src: url(Digital.ttf);
}

#inso{
	color: black;
	
	opacity: 0.8;
	width:100px;
	max-height: 100px;
	font-size:24px;
	display: inline;

}

#inst{visibility: hidden;}
#container{
	border:black solid 8px;
	display: inline-block;
	padding-left:4px;
	visibility: hidden;
	padding-top: 4px;
}




#playbody{
	background-color: lightgrey;
	max-width: 100%;
	margin:auto;
	background-repeat: round;
	text-align: center;
	padding-top: 0px;
	position:relative;
}
#border{
	border-width: 5px;
	border-color: black;
}
.lin div{
	display:inline;
}
.gridl div{
	display:inline;
}
#container{
	
	text-align: center;
	border : 2px 2px 2px 2px;
}
#table{
	visibility: hidden;
	text-align: center;
}
#dichuu{
	text-align: center;
	display: inline-flex;
	border: 1px solid black;
}
#replay{
	visibility: hidden;
}
.s{ 
	cursor: pointer;
	margin:0px;
	padding:3px 3px 0px 0px;
	border:0px; 
}
.s:hover {
	fill: white;
}
#cont{
	position:relative;
	display: block;
	margin : auto;
}
.t{cursor: -webkit-grabbing; cursor: grabbing;}
#td{
	position: absolute;
	display: inline-flex;
	text-align: center;
	background-color: yellow;
	color:darkgreen;
	float : right;
	width : 5%;
}
#endgame{
	padding-right:5px;
}
